@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    font-family: 'Orbitron', sans-serif;
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: calc(50% - 200px);
    right: calc(50% - 150px);
    text-align: center;
    height: 400px;
    width: 300px;
    box-shadow: -1px -1px 7px 4px rgba(0,0,0,0.38);
    -webkit-box-shadow: -1px -1px 7px 4px rgba(0,0,0,0.38);
    -moz-box-shadow: -1px -1px 7px 4px rgba(0,0,0,0.38);
    /* box-shadow: 1px 3px 10px 0px rgb(10, 20, 40); */
    border-radius: 10px;
    padding: 20px 10px;
}

input {
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 5px;
    /* Chrome e outros */
    -webkit-outer-spin-button;
    -webkit-inner-spin-button;
    -webkit-appearance: none;
     margin: 0;
    -moz-appearance: textfield;
}

/* Firefox */

button {
    cursor: pointer;
    margin-top: 10px;
    padding: 4px;
    border: none;
    /* margin-bottom: 5px; */
    /* border: 1px solid black; */
    box-shadow: -1px -1px 7px 2px rgba(0,0,0,0.38);
    -webkit-box-shadow: -1px -1px 7px 2px rgba(0,0,0,0.38);
    -moz-box-shadow: -1px -1px 7px 1px rgba(0,0,0,0.38);
    border-radius: 5px;
    background-color: blue;
    color: white;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    height: 40px;
    width: 60px;
    /* background-color: rosybrown; */
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black; 
} 

